/* styles.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color:black;
}

.game-container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color:white;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin: 0 auto;
}

.cell {
  width: 100px;
  height: 100px;
  background-color:white;
  border: 1px solid #000;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell.taken {
  pointer-events: none;
}

#restartButton {
  margin-top: 15px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

#winnerMessage {
  margin-top: 20px;
}
button{
  background-color:white;
  color: black;
}
